@charset "UTF-8";

/*
    em HTML é id    = em CSS é #
    em HTML é class = em CSS é . 
*/
body{
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: cyan;
}
h1#principal{
    text-align: center;
    color: black ;
}
h2{
    color: darkblue;
}

.basico{
    color: chocolate;
}
.intermediario{
    color: darkgoldenrod;
}
.avancado{
    color: darkkhaki;
}